.float-left{
    float: left;
}
.main-header{
    height: 48px;
    width: 1349px;
    background: black;
    position: fixed;
    z-index: 1;
}
.menus{
    display: inline;
    color: #eee;
    font-size: 15px;
    font-family: lato,sans-serif;
}
.links{
    padding: 0;
    margin-top: 14px;;
}
a{
    text-decoration: none;
    color: white;
    padding: 16px;
    padding-left: 25px;
    padding-right: 25px;
}
a:hover{
    background: #CCC;
    color: #111;
}
.clearfix{
    clear: both;
}
.positioning{
    position: absolute;
    top: 640px;
    left: 450px;
}
.country-details{
    color: #FFF;
}

.img-country-name{
    font-family: lato,sans-serif;
    text-align: center;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 100;
}
.img-country-details{
    font-size: 14px;
    font-family: lato,sans-serif;
    font-weight: 600;
}
.about-band{
    height: 600px;
    width: 1349px;
    background: #FFF;
}
.band-name{
    font-family: Segoe UI,Arial,sans-serif;
    text-align: center;
    margin-top: 85px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 5px;
}
.band-tagline{
    color: black;
    opacity: 0.60;
    font-weight: 400;
    font-family: lato,sans-serif;
    font-size: 14px;
    text-align: center;
}
.band-center{
    width: 785px;
    height: 180px; 
    margin: 0 auto;
}
.band-details{
    text-align: justify;
    font-family: lato,sans-serif;
    font-size: 15px;
    line-height: 20px;
/*    opacity: 0.90;*/
}
.band-members{
    margin-top: 50px;
}
.img-band-member{
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 0;
}
.name-band-member{
    text-align: center;
    font-family: lato,sans-serif;
    font-size: 15px;
}
.sub-band-member{
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
/*
containing-main-header{
    background: black;
   margin-top: 47px;
}*/
.tour-dates{
    background: black;
    height: 790px;
    width: 1349px;
}
.tour-head{
    font-family: Segoe UI,Arial,sans-serif;
    text-align: center;
    padding-top: 50px;
    margin-top: 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 5px;
    color: white;
}
.tour-tagline{
    color: #999; 
    text-align: center;
    font-family: lato,sans-serif;
    font-size: 15px;
}
.main-ticket{
    display: inline-block;
    width: 770px;
    height: 115px;
    margin-left: 290px;
    margin-right: 290px;
    background: #FFF;
}
.red-box{
    display: inline;
    border: solid 2px #EEE;
    background-color: red;
    z-index: -1;
    padding: 2px 5px;
    text-transform: capitalize;
    color: #FFF;
    opacity: 0.8;
}
.black-box{
    display: inline;
    padding: 2px 6px;
    color: white;
    background: black;
    border: solid 1px black;
    border-radius: 75%; 
    margin: 0;
}
.float-right{
    float: right;
}
.month{
    display: inline;
    text-transform: capitalize;
    color: black;
    opacity: 0.6;
    font-size: 15px;
    font-family: lato,sans-serif;
}
.month-name{
    padding: 10px;
    border-bottom: solid 1px #e4e4e4;
}
.no-border-bottom{
    border-bottom: none;
}
.locations{
    width: 1349px;
    height: 529px;
/*    border: solid 1px red;*/
}
.inner-div{
    width: 769px;
    height: 410px;
/*    border: solid 1px red;*/
    margin: 0 auto;
    margin-top: 40px;
}
.div-sizing{
    display: inline-block;
    width: 245px;
    height: 390px;
    background: white;
/*    border: solid 1px red;*/
    margin-left: 10px;
}
.no-margin-left{
    margin-left: 0;
}
.no-margin-right{
    margin-right: 0;
    margin-left: 13px;
}
.margins{
    margin-left: 13px;
}
.inner-pad{
    padding: 10px;
}
.btn{
    margin-left: 10px;
    padding: 10px;
    background: black;
}
.btn:hover{
    background: #CCC;
    color: #111;
}
.contact{
    height: 455px;
    width: 1349px;
}
.cnt-head{
    font-family: Segoe UI,sans-serif;
    text-align: center;
    padding-top: 50px;
    margin-top: 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 5px;
}
.cnt-tag{
    color: black; 
    opacity: 0.8;
    text-align: center;
    font-family: lato,sans-serif;
    font-size: 15px;
}
.contact-info{
    display: inline-block;
    font-family: lato,sans-serif;
    font-weight: 400;
    width: 674px;
    height: 250pxpx;
/*    border: solid 1px red;*/
}
.margin-left-270{
    margin-left: 270px;
}
.margin-topp{
    margin-top: 40px;
}
.email-us{
    display: inline-block;
    height: 236px;
    width: 650px;
    padding-top: 60px;
    
}
.email-mar{
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
}
.btn-send{
    padding: 5px 10px;
    color: white;
    background: Black;
    width: 70px;
    border: none;
}
.btn-send:hover{
    color: black;
    background: #CCC;
    border: none;
}
